page-about {
    .logo {
        width: 50%;
        height: auto;
        display: block;
        margin: auto;
    }
    
    .content {
        background: white;
        ion-icon {
          font-size: 24px;
          color: #757575;
        }
        ion-label {
            color: #757575;
        }
        h4 {
            text-align: center;
            margin-bottom: 5%;
            margin-top: 7%;
            color: color($colors, dark);
        }
        p {
            color: color($colors, dark);
        }
    }
    .div-hr {
        border-bottom: 1px #EBEFF2 solid;
        margin-left: 16px;
        margin-right: 16px;
    }
}