page-preview {
  ion-navbar ion-icon {
    font-size: 25px;
  }

  .content {
    background: white;

    ion-icon {
      font-size: 24px;
      color: #757575;
    }
    p {
      color: black;
      font-size: 16px;
    }
  }
  .sub-menu {
    margin-top: -5px;
  }
}