<ion-header no-border>
  <ion-navbar color="theme">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Meus Investimentos</ion-title>
    <ion-buttons end>
      <button ion-button>
        <ion-icon name="more" padding-left></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="background">
  <ion-toolbar color="theme">
    <ion-segment class="segment" color="dark" [(ngModel)]="categories">
      <ion-segment-button value="geral">
        Geral
      </ion-segment-button>
      <ion-segment-button  value="graficos" (click)="inflateChart()">
        Gráficos
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
    <div [hidden]="categories!='geral'">
      <div *ngIf="!existElement" class="info-investiment">
        <ion-icon name="trending-up"></ion-icon>
        <h2>Meus Investimentos</h2>
        <p>Cadastre seus investimentos e acompanhe seu rendimento</p>
      </div>
      <div *ngIf="existElement">
        <ion-card *ngFor="let invest of investiments" (click)="showDetailsInvestiment(invest)">
          <ion-card-content no-padding>
            <ion-item>
              <p>Vencimento: {{invest.expirationDate}}</p>
              <h1>{{invest.title}}</h1>
              <p>Total de investimento nesse título R$ {{invest.valueTitle.toLocaleString('pt-BR')}}</p>
            </ion-item>
          </ion-card-content>
        </ion-card> 
      </div>
    </div>
    <div [hidden]="categories!='graficos'">
      <div *ngIf="!existElement" class="info-investiment">
        <ion-icon name="pie"></ion-icon>
        <h2>Gráficos</h2>
        <p>Visualize seus investimentos no formato de gráficos</p>
      </div>
      <div [hidden]="!existElement" padding>
        <canvas #donutCanvas height="350" ></canvas>
      </div>
    </div>
  <ion-fab right bottom>
    <button ion-fab color="accent" (click)="addInvestiment()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>